<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach %>
</p>

<p>
  <strong>Titles:</strong>
  <%= @team.titles %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
